<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214473832980-3hhfbt02li7s6tvu8t7hlhlrm16rk83m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214473832980-3hhfbt02li7s6tvu8t7hlhlrm16rk83m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>214473832980-4kafn58vb08ooa9tc32cbfc20501vnfq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgh_s_y7jO5ypUhQ34jMwiGXOaL1KEm4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>214473832980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mashup.ahobsu.Ahobsu</string>
	<key>PROJECT_ID</key>
	<string>moti-90943</string>
	<key>STORAGE_BUCKET</key>
	<string>moti-90943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:214473832980:ios:6b0a4474fd58f07fa6c501</string>
</dict>
</plist>
